body {
  font-family: 'Lato', sans-serif;
}

#title {
  text-align: center;
  margin-top: 10vh;
  font-size: 30px;
}

#grid {
  display: grid;
  grid-template-rows: [r2] 200px [r3] 200px [r4];
  grid-template-columns: [c1] 200px [c2] 200px [c3];
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
}

#start {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}

#one {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  background-color: #2f924f;
  cursor: pointer;
}

#two {
  grid-column: c2 / c3;
  grid-row: r2 / r3;
  background-color: #99001b;
  cursor: pointer;
}

#three {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
  background-color: #ead140;
  cursor: pointer;
}

#four {
  grid-column: c2 / c3;
  grid row: r3 / r4;
  background-color: #3c64f2;
  cursor: pointer;
}

#count {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  margin-top: 8vh;
  font-size: 24px;
}

#msg {
  text-align: center;
  margin-top: 3vh;
  font-size: 24px;
}

.lighten {
  filter: brightness(200%);
}

.quarterCircleTopLeft{
     width:200px;
     height:200px;
     border-radius: 200px 0 0 0;
}

.quarterCircleTopRight{
     width:200px;
     height:200px;
     border-radius: 0 200px 0 0;
}

.quarterCircleBottomLeft{
     width:200px;
     height:200px;
     border-radius: 0 0 200px 0;
}

.quarterCircleBottomRight{
     width:200px;
     height:200px;
     border-radius: 0 0 0 200px;
}
