#title {
  text-align: center;
  margin-top: 20vh;
  font-size: 30px;
}

#grid {
  display: grid;
  grid-template-rows: [r1]70px [r2] 70px [r3] 70px [r4];
  grid-template-columns: [c1] 70px [c2] 70px [c3];
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  font-size: 30px;
}

.box {
  outline: 1px solid black;
}

#start {
  grid-column: c1 / c3;
  grid-row: r1 / r2;
}

#one {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  background-color: #006600;
}

#two {
  grid-column: c2 / c3;
  grid-row: r2 / r3;
  background-color: #aa001e;
}

#three {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
  background-color: #f9d714;
}

#four {
  grid-column: c2 / c3;
  grid row: r3 / r4;
  background-color: #2828cc;
}

#count {
  text-align: center;
  margin-top: 10vh;
  font-size: 30px;
}

#msg {
  text-align: center;
  margin-top: 10vh;
  font-size: 30px;
}

.lighten {
  filter: brightness(200%);
}
